<div class="container my-5">
  <div class="w-100 d-flex flex-column">
    <div class="header text-light text-center">
      APPLY FOR
      <span style="color:#FF0039;">WHITELIST</span>
    </div>

    <div class="text-light row justify-content-center align-items-center options">
      <div  class="col-sm-12 regular-card mx-5 d-flex flex-column align-items-center justify-content-center " routerLinkActive="active" routerLink="/region">
        <div>
          <img src="../../../assets/images/regular-whitelist.png" alt="">
        </div>
        <p>Regular Whitelist</p>

      </div>

      <div class="col-sm-12 regular-card donater-whitelist mx-5 d-flex flex-column align-items-center justify-content-center ">
        <div>
          <img src="../../../assets/images/donator-whitelist.png" alt="">
        </div>
        <p>Regular Whitelist</p>

      </div>
    </div>
  </div>

</div>
