.tier-type{
  cursor: pointer;
  // width: fit-content;
  background: radial-gradient(67.55% 87.79% at 48.2% 100%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(62, 82, 106, 0.5), rgba(62, 82, 106, 0.5)), rgba(0, 0, 0, 0.65);
  outline: 1px solid rgba(255, 255, 255, 0.35);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.35);
  padding: 0rem;
  // margin-inline: auto;
  // margin-top: var(--size-500);
  transform: skewX(-5deg);
  margin: 1.5rem ;
  // height: 25vh;
  // max-width: 25%;
  font-size: 1.5rem;
  transition: all 0.3s;
}

.tier-type div{
  padding: 0.25rem 2rem;
    font-size: 1.5rem;
    width: 100%;
    background: radial-gradient(69.37% 87.79% at 46.8% 100%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(62, 82, 106, 0.5), rgba(62, 82, 106, 0.5)), rgba(0, 0, 0, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.35);
}

p{
  padding: 1rem;
  font-size: 1rem;
}

.tier-type:hover{
  outline: 4px solid rgba(255, 255, 255, 0.35);
  transform: scale(1.2);
}

.header{ font-size: 4rem;}
@media only screen and (max-width: 1000px) {
  .header{ font-size: 3rem;}
}
