.main-page{
  width: 100%;
  // overflow: hidden;
  justify-content: center;
  // height: 85vh;
  align-items: center;
}

.main-header{
  font-weight: 400;
  font-size: 5rem;
  line-height: 96.2%;
  font-style: normal;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button-apply {
  padding: 1em 1.8rem;
  margin: 0 0.5rem;
  width: fit-content;
  min-height: 6rem;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.35);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.35);
  transform: skewX(-5deg);
  color: #FFFFFF;
  background: radial-gradient(200.23% 87.79% at 142.88% 100%, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #FF0039, #FF0039), rgba(0, 0, 0, 0.65);
  background: radial-gradient(67.55% 87.79% at 48.2% 100%, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(62, 82, 106, 0.5), rgba(62, 82, 106, 0.5)), rgba(0, 0, 0, 0.65);
}

.button-apply img {
  max-width: 85%;
  margin: auto;
}


//media query

@media only screen and (max-width: 1200px) {
  .main-header{
    font-size: 3em;
    text-align: center;
  }
  /*Tablets [1001px -> 1200px]*/
}
@media only screen and (max-width: 1000px) {
  .main-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .img-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 2rem;
  }
  .main-header{
    font-size: 2rem;
    text-align: center;
  }

  .button-apply{
    padding: 1rem!important;
    min-height: 2rem;
  }
  .button-holder{
    margin: 0 auto;
  }
  /*Big smartphones [601px -> 1000px]*/
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
}
