<div class="my-5">
  <div class="container w-100">
    <div class="header text-light text-center">
      SUPPORTER
      <span style="color: #ff0039">TIER LEVEL</span>
    </div>

    <div class="row my-5 text-center text-light">
      <div class="col-12 col-md-6 col-xl-3">
        <div class="tier-type" routerLinkActive="active" routerLink="/tier">
          <div>
            Supporter
            <span>$15</span>
          </div>
          <div class="d-flex align-items-center">
            <p >
              Purchasing one of these donation tiers will grant you accelerated
              response time for your whitelist application, as well as grant you a
              special discord title
              <span style="color: green">Supporter</span>
              Your application gets moved/pinned to the top automatically!
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-3">
        <div class="tier-type" routerLinkActive="active" routerLink="/tier">
          <div>
            Lunar
            <span>$30</span>
          </div>
          <div class="d-flex align-items-center">
            <p >
              Purchasing one of these donation tiers will grant you accelerated
              response time for your whitelist application, as well as grant you a
              special discord title
              <span style="color: blue">Lunar</span>
              Your application gets moved/pinned to the top automatically!
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-3">
        <div class="tier-type" routerLinkActive="active" routerLink="/tier">
          <div>
            Stellar
            <span>$50</span>
          </div>
          <div class="d-flex align-items-center">
            <p >
              Purchasing one of these donation tiers will grant you accelerated
              response time for your whitelist application, as well as grant you a
              special discord title
              <span style="color: orange">Stellar</span>
              Your application gets moved/pinned to the top automatically!
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-3">
        <div class="tier-type" routerLinkActive="active" routerLink="/tier">
          <div>
            Galactic
            <span>$75</span>
          </div>
          <div class="d-flex align-items-center">
            <p >
              Purchasing one of these donation tiers will grant you accelerated
              response time for your whitelist application, as well as grant you a
              special discord title
              <span style="color: red">Galactic</span>
              Your application gets moved/pinned to the top automatically!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
