<div class="my-5">
  <div class="container w-100">
    <div class="header text-light text-center">
      CHOOSE A
      <span style="color: #ff0039">REGION</span>
    </div>

    <div class="row my-5 text-light">
      <div
        class="col-3 region-card"
        routerLinkActive="active"
        routerLink="/region"
      >
        <div class="pt-5">
          <img src="../../../assets/images/us-flag.png" alt="" />
        </div>
      </div>

      <div
        class="col-3 region-card d-flex justify-content-center align-content-center"
        style="text-decoration: none; padding: 2rem 2rem; font-size: 18px"
        routerLinkActive="active"
        routerLink="/region"
      >
        <p>
          Asia Server Free Whitelist is
          <span style="color: red; font-weight: bold">CLOSED</span>
          <br /><br />
          click here to submit a Paid application.
        </p>
      </div>

      <div
        class="col-3 region-card"
        routerLinkActive="active"
        routerLink="/region"
      >
        <div>
          <img src="../../../assets/images/sri-lanka-flag.png" alt="" />
        </div>
      </div>

      <div
        class="col-3 region-card"
        routerLinkActive="active"
        routerLink="/region"
      >
        <div>
          <img src="../../../assets/images/arabia-flag.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
