<div class="my-5">
  <div class="container w-100">
    <div class="header text-light text-center">
      CHOOSE A
      <span style="color: #ff0039">REGION</span>
    </div>

    <div class="row my-5 text-center text-light">
      <div class="col-12 col-md-6 col-xl-3">
        <div class="region-card" routerLinkActive="active" routerLink="/region">
          <div>
            <img src="../../../assets/images/us.png" alt="" />
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-3">
        <div class="region-card d-flex align-items-center" routerLinkActive="active" routerLink="/tier">
          <p style="text-decoration: none; font-size: 1.3rem">
            Asia Server Free Whitelist is
            <span style="color: red; font-weight: bold">CLOSED</span>
            <br /><br />
            click here to submit a Paid application.
          </p>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-3">
        <div class="region-card" routerLinkActive="active" routerLink="/region">
          <div>
            <img src="../../../assets/images/sri-lanka-flag.png" alt="" />
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-3">
        <div class="region-card" routerLinkActive="active" routerLink="/region">
          <div>
            <img src="../../../assets/images/arabia-flag.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
